[submodule "modules/codbex-number-generator"]
	path = modules/codbex-number-generator
	url = https://github.com/codbex/codbex-number-generator
[submodule "modules/codbex-jobs"]
	path = modules/codbex-jobs
	url = https://github.com/codbex/codbex-jobs
[submodule "modules/codbex-countries"]
	path = modules/codbex-countries
	url = https://github.com/codbex/codbex-countries
[submodule "modules/codbex-cities"]
	path = modules/codbex-cities
	url = https://github.com/codbex/codbex-cities
