[submodule "modules/codbex-number-generator"]
	path = modules/codbex-number-generator
	url = https://github.com/codbex/codbex-number-generator
[submodule "modules/codbex-jobs"]
	path = modules/codbex-jobs
	url = https://github.com/codbex/codbex-jobs
[submodule "modules/codbex-countries"]
	path = modules/codbex-countries
	url = https://github.com/codbex/codbex-countries
[submodule "modules/codbex-cities"]
	path = modules/codbex-cities
	url = https://github.com/codbex/codbex-cities
[submodule "modules/codbex-contracts"]
	path = modules/codbex-contracts
	url = https://github.com/codbex/codbex-contracts
[submodule "modules/codbex-companies"]
	path = modules/codbex-companies
	url = https://github.com/codbex/codbex-companies
[submodule "modules/codbex-organizations"]
	path = modules/codbex-organizations
	url = https://github.com/codbex/codbex-organizations
[submodule "modules/codbex-employees"]
	path = modules/codbex-employees
	url = https://github.com/codbex/codbex-employees
[submodule "modules/codbex-vacations"]
	path = modules/codbex-vacations
	url = https://github.com/codbex/codbex-vacations
