[submodule "modules/codbex-number-generator"]
	path = modules/codbex-number-generator
	url = https://github.com/codbex/codbex-number-generator
[submodule "modules/codbex-jobs"]
	path = modules/codbex-jobs
	url = https://github.com/codbex/codbex-jobs
[submodule "modules/codbex-countries"]
	path = modules/codbex-countries
	url = https://github.com/codbex/codbex-countries
[submodule "modules/codbex-cities"]
	path = modules/codbex-cities
	url = https://github.com/codbex/codbex-cities
[submodule "modules/codbex-contracts"]
	path = modules/codbex-contracts
	url = https://github.com/codbex/codbex-contracts
[submodule "modules/codbex-companies"]
	path = modules/codbex-companies
	url = https://github.com/codbex/codbex-companies
[submodule "modules/codbex-organizations"]
	path = modules/codbex-organizations
	url = https://github.com/codbex/codbex-organizations
[submodule "modules/codbex-employees"]
	path = modules/codbex-employees
	url = https://github.com/codbex/codbex-employees
[submodule "modules/codbex-vacations"]
	path = modules/codbex-vacations
	url = https://github.com/codbex/codbex-vacations
[submodule "modules/codbex-hera-print"]
	path = modules/codbex-hera-print
	url = https://github.com/codbex/codbex-hera-print
[submodule "modules/codbex-currencies"]
	path = modules/codbex-currencies
	url = https://github.com/codbex/codbex-currencies
[submodule "modules/codbex-partners"]
	path = modules/codbex-partners
	url = https://github.com/codbex/codbex-partners
[submodule "modules/codbex-payments"]
	path = modules/codbex-payments
	url = https://github.com/codbex/codbex-payments
[submodule "modules/codbex-salaries"]
	path = modules/codbex-salaries
	url = https://github.com/codbex/codbex-salaries
[submodule "modules/codbex-payroll-payment-ext"]
	path = modules/codbex-payroll-payment-ext
	url = https://github.com/codbex/codbex-payroll-payment-ext
[submodule "modules/codbex-payrolls"]
	path = modules/codbex-payrolls
	url = https://github.com/codbex/codbex-payrolls
[submodule "modules/codbex-number-generator-data"]
	path = modules/codbex-number-generator-data
	url = https://github.com/codbex/codbex-number-generator-data
[submodule "modules/codbex-branding"]
	path = modules/codbex-branding
	url = https://github.com/codbex/codbex-branding
[submodule "modules/codbex-navigation-groups"]
	path = modules/codbex-navigation-groups
	url = https://github.com/codbex/codbex-navigation-groups
